.chessSquare {
    transform-style: preserve-3d;
    transition: transform .7s;
    transition-timing-function: cubic-bezier(1, 0, 0.31, 1.07);
    &_rotate {
        transform: rotateX(180deg);
    }

    svg {
        pointer-events: none;
        width: 100%;
    }
    
    span {
        display: none;
    }
}

.dot::before, .dot_enemy::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 40%;
    border-radius: 100%;
    opacity: .5;
}
.dot::before {
    background-color: darkslateblue;
}
.dot_enemy:before {
    background-color: #681C0B;
}

.check {
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(255, 14, 14, .6);
    -moz-box-shadow: inset 0px 0px 15px 0px rgba(255, 14, 14, .6);
    box-shadow: inset 0px 0px 15px 0px rgba(255, 14, 14, .6);
}

.pastPosition{
    -webkit-box-shadow: inset 0px 0px 6px 1px rgb(228 255 0 / 50%);
    -moz-box-shadow: inset 0px 0px 6px 1px rgb(228 255 0 / 50%);
    box-shadow: inset 0px 0px 6px 1px rgb(228 255 0 / 50%);
}

.currentPosition {
    -webkit-box-shadow: inset 0px 0px 6px 1px rgb(228 255 0);
    -moz-box-shadow: inset 0px 0px 6px 1px rgb(228 255 0);
    box-shadow: inset 0px 0px 6px 1px rgb(228 255 0);
}


